<% if @user == current_user %>
  <% @your_or_username = "Your" %>
<% else %>
  <% @your_or_username = "#{@user.username}'s"  %>
<% end %>

<p class="lead">
  <%= @your_or_username %> Profile
<% if logged_in? && @your_or_username == "Your" %>
 <small class='quiet pull-right'> [<%= link_to 'Edit Your Profile', edit_user_path(@user) %>] </small>
<% end %>
  <hr/>
</p>

<div class='well'>
  <dl class='dl-horizontal'>
    <dt>Username:</dt>
    <dd><%= @user.username%></dd>

  </dl>
</div>

<h5><%= @your_or_username%> activity</h5>

<ul class='nav nav-tabs'>
  <li class='<%= 'active' if params[:tab].nil? %>' >
    <%= link_to "Posts (#{@user.posts.size})", user_path(@user) %>
  </li>
  <li class='<%= 'active' if params[:tab] == 'comments' %>'>
    <%= link_to "Comments (#{@user.comments.size})", user_path(@user, tab: 'comments') %>
  </li>
</ul>

<% if params[:tab].nil? %>
  <div >
    <% @user.posts.each do |post| %>
      <%= render 'posts/post', post: post %>
    <% end %>
  </div>
<% elsif params[:tab] == 'comments' %>
  <%= render 'posts/comments', user_or_post: @user %>
<% end %>
